@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

body {
    margin: 0;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
}

pre {
    font-size: 7em;
}

.tick line {
    stroke: #C0C0BB;
}

.tick, .color-legend-item text {
    fill: #635F5D;
}


.mark {
    fill: #137B80;
}

.axis-label {
    fill: #635F5D;
    font-size: 2em;
}

.line path {
    fill: none;
    stroke: #137B80;
    stroke-width: 5;
    stroke-linejoin: round;
    stroke-linecap: round;
}

.sphere {
    fill: rgba(26, 124, 177, 0.11);
}

.interiors {
    fill: none;
    stroke: rgba(26, 124, 177, 0.11);
    stroke-width: 0.5;
}

.country {
    fill: #d2e6f5;
    stroke: none;
}

.city-circle {
    fill: #1a53b1;
}


.graticules {
    stroke: rgba(19, 123, 128, 0.59);
    fill: none;
    stroke-width: .1;
}

.menus-container {
    margin: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown-label {
    margin: 0 10px 0 20px;
    color: #635F5D;
    font-size: 1.5em;

}

.Dropdown-option {
    color: #635F5D !important;
}

.Dropdown-root {
    display: inline-block;
    width: 15rem;
}

.Dropdown-menu {
    max-height: 600px !important;
}